// Mixins

@mixin grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    align-items: center;
}

@mixin flex-row {
    display: flex;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    @include grid;
}

.flex-row {
    @include flex-row;
}

.flex-column {
    @include flex-column;
}

.container {
    @include container;
}

/* Animations */

.expandir-texto {
	animation: expandir-texto 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
}

@keyframes expandir-texto {
    0% {
        letter-spacing: -0.6em;
        opacity: 0;
    }
    40% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
