
$primary: #F2F0D0;
$secondary: #F2A516;
$tertiary: #F2D335;
$black: #000;
$font-primary: 'Roboto', sans-serif;
$robotoMono : 'Roboto Mono', sans-serif;
/* font-weight shortcuts */
$thin: 100;
$light: 300;
$semi: 500;
$bold: 700;
