// Propiedades para Header/Navbar

header {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    align-items: center;
    background-color: $primary;
    box-shadow: 0px 22px 87px 1px rgba(0,0,0,0.3);

    .navbar {
        @include flex(row, space-between);
        min-height: 5vh;

        &__menu {
            @include flex(row);
    
            .menu__item {
                margin: 0 0.5rem;

                #hamburger__icon {
                    display: none;
                }

                &:hover .sub-menu {
                    display: block;
                    z-index: 5;
                }
    
                .menu__link {
                    font-size: 2.4em;
                    font-weight: $light;
                    padding: 0.5rem 1.5rem;
                    background-color: $tertiary;
                    border: 0.05em solid $black;
                    border-radius: 1rem;

                    &--active {
                        @extend .menu__link;
                        background-color: $primary;
                        border: $secondary 0.2rem solid;
                    }

                    img {
                        height: 3.2rem;
                        width: 3.2rem;
                        margin-right: 1rem;
                    }
    
                    &:hover {
                        background-color: $primary;
                        font-weight: 400;
                        border-color: $secondary;
                        border-radius: 2rem;
                        transition: border-radius .3s ease-in-out,
                                    background-color .3s ease-in-out;
                    }
                }
            }
        }

        .sub-menu {
            display: none;
            position: absolute;
            right: 2vw;
            background: $primary;
            box-shadow: -10px 8px 15px rgba(0,0,0,0.2),
                        10px 8px 15px rgba(0,0,0,0.2);
            padding: 0;
            margin: 0;

            &__link {
                @include flex(column);
                font-family: $font-primary;
                font-weight: $light;
                text-align: center;
                font-size: 1.8em;
                padding: 1rem 2rem;

                &:hover {
                    background-color: $secondary;
                    transition: background-color .2s ease-in-out;
                }
            }
        }

        #cart {
            @include flex();
            padding: 1rem 3rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    header .navbar {
        max-width: 1200px;
    }
}


@media screen and (max-width: 1023px) {
    header .navbar {
        max-width: 768px;

        .navbar__menu .menu__item {
            .menu__link {
                font-size: 1.6em;
                padding: 0.2rem 0.7rem;
            }
    
            #cart {
                padding: 0.5rem 1rem;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    header {
        .navbar__menu .menu__item {
            .menu__link, #cart {
                display: none; 
            }

            #hamburger__icon {
                display: block;
                margin: 0 1rem;
                background: none;
                border: none;

                &:hover .sub-menu {
                    display: block;
                    position: absolute;
                }
            }
        }
    }
}