@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Titillium+Web&display=swap');

:root {
    --primary: #F2F0D0;
    --secondary: #F2A516;
    --tertiary: #F2D335;
    --black: #000;
    --font-primary: 'Roboto', sans-serif;
    /* font-weight shortcuts */
    --thin: 100;
    --light: 300;
    --semi: 500;
    --bold: 700;
}

/* Normalize */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Globals */

html {
    font-family: var(--font-primary);
    font-size: 62.5%; /* 1em = 10px */
    height: 100%;
    min-height: 100%;
}
ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

body {
    background: 
        linear-gradient(
            rgba(249,248,233,0.81),
            rgba(249,248,233,0.81)
        ),
        url('../img/bg.jpg');
        margin: 0px;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: var(--black);
}

hr {
    border: solid 2px var(--secondary);
    margin-top: 0;
    margin-bottom: 5px;
}

body {
    min-height: 100vh;
}

/* Helpers */

.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    align-items: center;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* comienzo de propiedades para header/navbar  */

header {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    align-items: center;
    background-color: var(--primary);
    box-shadow: 0px 22px 87px 1px rgba(0,0,0,0.3);
}

header .navbar {
    min-height: 5vh;
    align-items: center;
    justify-content: space-between;
}

header .navbar__menu {
    align-items: center;
}

header .menu__item {
    margin: 0 0.5rem;
}

header .menu__link {
    font-size: 2.4em;
    font-weight: var(--light);
    padding: 0.5rem 1.5rem;
    background-color: var(--tertiary);
    border: 0.05em solid var(--black);
    border-radius: 1rem;
}

header .menu__item a.menu__link:hover {
    background-color: var(--primary);
    font-weight: 400;
    border-color: var(--secondary);
    border-radius: 2rem;
    transition: border-radius .3s ease-in-out, background-color .3s ease-in-out;
}

header #active a {
    background-color: var(--primary);
    border: var(--secondary) 0.2rem solid;
}

#cart {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
}

header .menu__link img {
    height: 3.2rem;
    width: 3.2rem;
    margin-right: 1rem;
}

.navbar .sub-menu {
    display: none;
    position: absolute;
    right: 2vw;
    background: var(--primary);
    box-shadow: -10px 8px 15px rgba(0,0,0,0.2), 10px 8px 15px rgba(0,0,0,0.2);
    padding: 0;
    margin: 0;
}

.navbar .sub-menu .sub-menu__link {
    font-family: var(--font-primary);
    font-weight: var(--light);
    text-align: center;
    font-size: 1.8em;
    padding: 1rem 2rem;
}

.navbar .sub-menu .sub-menu__link:hover {
    background-color: var(--secondary);
    transition: background-color .2s ease-in-out;
}

#hamburger__icon {
    display: none;
}

.navbar .menu__item:hover .sub-menu {
    display: block;
}

@media screen and (min-width: 1024px) {
    header .navbar{
        max-width: 1200px;
    }
}

@media screen and (max-width: 1023px) {
    header .navbar {
        max-width: 768px;
    }

    header .menu__link {
        font-size: 1.6em;
        padding: 0.2rem 0.7rem;
    }

    #cart {
        padding: 0.5rem 1rem;
    }

}

@media screen and (max-width: 768px) {
    header .menu__link, #cart {
        display: none;
    }

    #hamburger__icon {
        display: block;
        margin: 0 1rem;
        background: none;
        border: none;
    }

    #hamburger__icon:hover .sub-menu {
        display: block;
        position: absolute;
    }
}

/* comienzo de propiedades para footer */

footer {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    background-color: var(--primary);
    min-height: 6vh;
}

footer .footer {
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
    font-family: var(--font-primary);
    font-size: 1.6em;
    min-height: 5vh;
}

footer .socialMedia__links {
    flex-basis: 30%;
}

footer .socialMedia__links img {
    width: 32px;
    height: 32px;
    margin-right: 0.5vw;
    margin-top: 1vh;
}

@media screen and (min-width: 1024px) {
    footer .footer {
        max-width: 1080px;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media screen and (max-width: 1023px) {
    footer .footer {
        max-width: 768px;
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 1.2em;
    }

    footer .socialMedia__links a {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 768px) {
    footer .footer {
        max-width: 600px;
    }

    footer .footer {
        font-size: 1.2em;
    }

    footer .socialMedia__links img {
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width: 600px) {
    footer .footer {
        min-height: 10vh;
        display: flex;
        flex-flow: column-reverse;
        font-size: 1.6em;
    }

    footer .socialMedia__links {
        margin-top: 10px;
    }

    footer .socialMedia__links img {
        width: 32px;
        height: 32px;
    }

    footer .faq__links {
        margin: 10px 0;
    }

    footer .faq__links {
        font-size: 3vw;
    }

    .copyright {
        display: none;
    }
}


/* -------------- comienzo de propiedades para el index.html -------------- */
/* comienzo de propiedades para product__video y product__info */

body .product__main {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 10vh;
}

body .product__video video {
    border-radius: 4rem;
    width: 100%;
    margin: 0 3vw;
}

body .product__info {
    font-family: var(--font-primary);
    text-align: center;
    justify-self: center;
    align-items: center;
    margin: 0 3vw;
}

body .product__info h1 {
    font-size: 7em;
    font-weight: var(--thin);
    line-height: 1em;
    margin-bottom: 2rem;
}

body .product__info p {
    font-weight: var(--light);
    font-size: 2.2em;
    width: 35vw;
    margin-bottom: 3rem;
    background-color: rgba(0,0,0,0.07);
    box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.07);
}

body .product__info button {
    width: 24rem;
    height: 5rem;
    background: var(--secondary);
    border-radius: 3rem;
    border: var(--primary) 0.2rem solid;
    font-size: 2.4em;
    letter-spacing: -0.03em;
}

.product__info button a {
    color: #FFFFFF;
    padding: 1rem 2rem;
}

.product__info button:hover {
    background-color: var(--primary);
    color: var(--black);
    border-color: var(--secondary);
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.product__info button:hover a {
    color: var(--black);
}

@media screen and (max-width: 1023px) {
    body .product__info h1 {
        font-size: 5em;
    }
    
    body .product__info p {
        font-size:1.8em;
        width: 30vw;
    }

    body .product__info button {
        width: 18rem;
        height: 4rem;
        font-size: 1.8em;
    }
}

@media screen and (max-width: 768px) {
    body .product__main {
        flex-direction: column;
    }

    body .product__video video {
        margin: 0;
    }

    body .product__video {
        width: 90%;
        margin-bottom: 5vh;
    }

    body .product__info h1 {
        font-size: 6em;
    }

    body .product__info p {
        font-size: 2em;
        width: 70vw;
    }

    body .product__info button {
        width: 24rem;
        height: 5rem;
        font-size: 2.4em;
    }
}

@media screen and (max-width: 480px) {
    body .product__info h1 {
        font-size: 5em;
    }

    body .product__info button {
        width: 18rem;
        height: 4rem;
        font-size: 1.8em;
    }
}

/* comienzo de propiedades para product__customization y discover */

.product__description {
    margin: 14vh 4vw;
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    justify-content: space-evenly;
    align-items: center;
}

body .product__customization h2 {
    font-size: 4.6em;
    font-weight: var(--semi);
    line-height: 4rem;
    width: 400px;
}

body .product__customization h3 {
    font-size: 3em;
    font-weight: var(--semi);
    color: var(--secondary);
}

body .product__discover {
    font-size: 3.2em;
    width: 35vw;
}

body .product__discover a {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, var(--secondary) 50%);
    transition: background-position .4s;
    width: 470px;
}

body .product__discover a:hover {
    background-position: -100% 0;
}

@media screen and (max-width: 1080px) {
    body .product__description {
        margin: 15vh 3vw;
        justify-content: space-around;
    }

    body .product__customization h3 {
        font-size: 2em;
    }

    body .product__customization h2 {
        font-size: 2.8em;
        width: 32vw;
    }

    body .product__discover {
        font-size: 2.4em;
    }

    body .product__discover a {
        width: 330px;
        margin-top: 1rem;
    }

    body .product__discover img {
        width: 15%;
    }
}

@media screen and (max-width: 768px) {
    body .product__description {
        margin: 15vh 3vw;
    }

    body .product__description h3 {
        font-size: 1.8em;
    }

    body .product__description h2 {
        margin-top: 1rem;
        font-size: 2.5em;
        line-height: 2.6rem;
        width: 21rem;
    }

    body .product__discover {
        font-size: 1.8em;
        width: 26rem;
    }

    body .product__discover a {
        width: 250px;
        padding: 0.5rem 0;
    }
}

@media screen and (max-width: 600px) {
    body .product__description {
        margin-right: 0;
    }

    body .product__description h3 {
        font-size: 1.4em;
    }

    body .product__description h2 {
        margin-top: 0.5rem;
        font-size: 2em;
    }

    body .product__discover {
        font-size: 1.6em;
        width: 210px;
    }

    body .product__discover a {
        font-size: 0.9em;
        width: 210px;
    }
}

@media screen and (max-width: 480px) {
    body .product__description {
        display: none;
    }

    body .product__main {
        margin-bottom: 15vh;
    }
}

/* comienzo de propiedades para product__features */

body .product__features {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3vw;
    margin: 3vh auto;
    margin-bottom: 17vh;
}

body .product__features p {
    font-size: 2vw;
    font-weight: var(--semi);
    margin-bottom: 2rem;
    margin-left: 0.5rem;
}

body .product__feature {
    background-color: rgba(0,0,0,0.03);
}

@media screen and (min-width: 1400px) {
    body .product__features p {
        font-size: 1.6vw;
    }
}

@media screen and (max-width: 1023px) {
    body .product__features {
        grid-template-columns: repeat(2, 1fr);
        gap: 5vw;
        margin: 6vh auto;
    }
}

@media screen and (max-width: 768px) {
    body .product__features p {
        font-size: 3vw;
    }
}

@media screen and (max-width: 480px) {
    body .product__features {
        grid-template-columns: 1fr;
        margin-top: 0;
    }

    body .product__features p {
        font-size: 5vw;
    }
}

/* -------------- comienzo de propiedades para store.html -------------- */
/* comienzo de propiedades para store__main */

body .store__main {
    grid-column: 1 / 5;
    align-items: center;
    align-content: center;
    margin: 7vh auto;
}

body .store__main h1 {
    font-size: 7vw;
    font-weight: var(--thin);
    margin-bottom: 3vh;
}

body .store__main h1 strong {
    font-weight: var(--light);
}

body .store__video video {
    border: var(--secondary) 0.2rem solid;
    border-radius: 3rem;
    width: fit-content;
}


/* comienzo de propiedades para store__products */

body .store__products {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3vw;
    margin: 3vh auto;
    margin-bottom: 17vh;
}

body .store__products .product {
    width: 16.24vw;
}

body .product .product__title {
    font-family: var(--font-primary);
    font-size: 1.4vw;
    font-weight: var(--semi);
    margin-bottom: 0.5vh;
}

body .product p {
    font-family: var(--font-primary);
    font-size: 0.9vw;
    margin-bottom: 2rem;
}

body .product picture img {
    width: 16.24vw;
}

body .product button {
    font-family: var(--font-primary);
    font-weight: var(--light);
    font-size: 1.5vw;
    width: 11vw;
    height: 2.4vw;
    background-color: var(--primary);
    border: var(--secondary) 0.2rem solid;
    border-radius: 3rem;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0.5vw;
    margin-top: 1vh;
} 

body .product button img {
    width: 1.3vw;
    height: 1.3vw;
}

@media screen and (max-width: 1023px) {
    body .store__main h1 {
        font-size: 9vw;
    }

    body .store__products {
        grid-template-columns: repeat(2, 1fr);
        gap: 5vw;
        margin: 6vh auto;
    }
    
    body .product .product__title {
        font-size: 3vw;
    }
    
    body .product p {
        font-size: 1.8vw;
    }

    body .store__products .product {
        width: 34vw;
    }

    body .product picture img {
        width: 34vw;
    }

    body .product button {
        width: 15vw;
        height: 3.3vh;
        font-size: 2.2vw;
    }

    body .product button img {
        width: 2vw;
        height: 2vw;
    }
} 

@media screen and (max-width: 768px) {
    body .store__video video {
        width: 80vw;
    }
}

@media screen and (max-width: 600px) {
    body .store__main h1 {
        font-size: 9vw;
    }

    body .store__products {
        grid-template-columns: 1fr;
        margin: 6vh auto;
    }

    body .store__products .product {
        width: 68vw;
    }

    body .product picture img {
        width: 68vw;
    }

    body .product .product__title {
        font-size: 6vw;
    }
    
    body .product p {
        font-size: 3.5vw;
    }

    body .product button {
        width: 25vw;
        height: 3.4vh;
        font-size: 3.5vw;
    }

    body .product button img {
        width: 20px;
        height: 20px;
    }
}


/* -------------- comienzo de propiedades para about.html -------------- */
/* comienzo de propiedades para about */

main div.about {
    align-items: center;
}

main div.about h1 {
    font-family: var(--font-primary);
    font-size: 8vw;
    font-weight: var(--thin);
    margin-top: 7vh;
}

main div.about p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    margin: 3vh 15vw;
}

body .site__img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .site__img img {
    margin: 10vh auto;
    border: var(--secondary) 0.2rem solid;
    border-radius: 4rem;
}

@media screen and (max-width: 1023px) {
    main div.about h1 {
        font-size: 8.5vw;
    }

    main div.about p {
        font-size: 2vw;
    }
}

@media screen and (max-width: 768px) {
    main div.about h1 {
        font-size: 9vw;
    }

    main div.about p {
        font-size: 2.4vw;
    }
}

@media screen and (max-width: 600px) {
    main div.about h1 {
        font-size: 10vw;
    }    

    main div.about p {
        font-size: 3vw;
    }
}


/* -------------- comienzo de propiedades para contact-us.html -------------- */
/* comienzo de propiedades para contact__form */

body .contact-us__title {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

body .contact-us__title h1 {
    font-family: var(--font-primary);
    font-weight: var(--thin);
    font-size: 7vw;
    margin: 7vh auto 3vh 5vw;
}

body .contact-us__main {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    margin: 5vh 7vw;
}


body .contact__form input, label {
    font-family: var(--font-primary);
    font-size: 1.8em;
    margin-bottom: 0.8vh;
}


body .contact__form input, textarea {
    background-color: var(--primary);
    border-radius: 1rem;
    border: var(--secondary) 0.2rem solid;
    width: 40vw;
    margin-bottom: 4vh;
    min-height: 4vh;
}

body .contact__form textarea {
    margin-bottom: 6vh;
}

body .contact__form button {
    font-family: var(--font-primary);
    font-size: 2.4em;
    letter-spacing: -0.03em;
    border: var(--tertiary) 0.2rem solid;
    border-radius: 3rem;
    min-height: 5vh;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, var(--primary) 50%, var(--secondary) 50%);
    transition: background-position .4s;
    margin: 0 0 8vh 2vw;
    padding: 0 1.4vw;
    width: fit-content;
}

body .contact__form button:hover {
    background-position: -100% 0;
    color: #000000;
}



@media screen and (max-width: 1023px) {
    body .contact__form input, label {
        font-size: 1.8vw;
    }

    body .contact__form textarea {
        margin-bottom: 4vh;
    }
}

@media screen and (max-width: 768px) {
    body .contact-us__main {
        grid-column: 1 / 5;
        grid-row: 3 / 5;
        margin-top: 0;
    }

    body .contact-us__title h1 {
        margin-bottom: 0;    }

    body .contact__form input, textarea {
        width: 60vw;
        transition: width .2s;
        margin-bottom: 2vh;
    }

    body .contact__form textarea {
        margin-bottom: 2vh;
    }

    body .contact__form button {
        font-size: 3vw;
        min-height: 5vh;
        margin: 0 0 8vh 2vw;
        width: 15vw;
        font-weight: var(--semi);
    }
}

@media screen and (max-width: 600px) {
    body .contact-us__title h1 {
        font-size: 8vw;
        font-weight: var(--light);
        margin-bottom: 4vh;
    }

    body .contact__form input, label {
        font-size: 3.6vw;
    }

    body .contact__form textarea {
        margin-bottom: 4vh;
    }

    body .contact__form input, textarea {
        width: 86vw;
        margin-bottom: 2vh;
    }

    body .contact__form button {
        font-size: 5vw;
        width: 30vw;
        font-weight: 400;
    }
}

/* comienzo de propiedades para faq__link */

body .faq__link {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}

body .faq__link a {
    align-items: center;
    background-color: var(--secondary);
    border: var(--tertiary) 0.2rem solid;
    border-radius: 1rem;
    font-family: var(--font-primary);
    font-weight: var(--light);
    font-size: 1.9vw;
    padding: 2vh 1vw;
    width: fit-content;
}

body .faq__link a img {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1rem;
}

body .faq__link a:hover {
    background-color: var(--primary);
    transition: background-color .2s ease-in-out;
}

@media screen and (max-width: 768px) {
    body .faq__link {
        grid-column: 1 / 5;
        grid-row: 4 / 5;
        display: flex;
        flex-flow: row nowrap;
        margin: 0 auto 0 15vw;
    }

    body .faq__link a {
        font-size: 3vw;
    }
}

@media screen and (max-width: 600px) {
    body .faq__link {
        margin:  0 auto;
    }

    body .faq__link a {
        font-size: 4.5vw;
        width: 60vw;
    }

    body .faq__link a img {
        width: 2.4rem;
        height: 2.4rem;
        margin: 0 1.7vw 0 1.7vw;
    }
}