/* font-weight shortcuts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100;300;400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  /* 1em = 10px */
  height: 100%;
  min-height: 100%; }

ul {
  list-style-type: none; }

button {
  cursor: pointer; }

body {
  background: linear-gradient(rgba(249, 248, 233, 0.81), rgba(249, 248, 233, 0.81)), url("../img/bg.jpg");
  margin: 0px; }

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000; }

hr {
  border: solid 2px #F2A516;
  margin-top: 0;
  margin-bottom: 5px; }

body {
  min-height: 100vh; }

.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  align-items: center; }

.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

/* Animations */
.expandir-texto {
  animation: expandir-texto 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) forwards; }

@keyframes expandir-texto {
  0% {
    letter-spacing: -0.6em;
    opacity: 0; }
  40% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

footer {
  grid-column: 1 / 5;
  grid-row: 5 / 6;
  background-color: #F2F0D0;
  min-height: 6vh; }
  footer .footer {
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 1.6em;
    min-height: 5vh; }
    footer .footer .socialMedia__links {
      flex-basis: 30%; }
      footer .footer .socialMedia__links img {
        width: 32px;
        height: 32px;
        margin-right: 0.5vw;
        margin-top: 1vh; }

@media screen and (min-width: 1024px) {
  footer .footer {
    max-width: 1080px;
    padding-left: 5vw;
    padding-right: 5vw; } }

@media screen and (max-width: 1023px) {
  footer .footer {
    max-width: 768px;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 1.2em; }
    footer .footer .socialMedia__links a {
      margin-right: 1rem; } }

@media screen and (max-width: 768px) {
  footer .footer {
    max-width: 600px;
    font-size: 1.2em; }
    footer .footer .socialMedia__links img {
      width: 24px;
      height: 24px; } }

@media screen and (max-width: 600px) {
  footer .footer {
    min-height: 10vh;
    display: flex;
    flex-flow: column-reverse;
    font-size: 1.6em; }
    footer .footer .socialMedia__links {
      margin-top: 10px; }
      footer .footer .socialMedia__links img {
        width: 32px;
        height: 32px; }
    footer .footer .faq__links {
      margin: 10px 0;
      font-size: 3vw; }
    footer .footer .copyright {
      display: none; } }

header {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  align-items: center;
  background-color: #F2F0D0;
  box-shadow: 0px 22px 87px 1px rgba(0, 0, 0, 0.3); }
  header .navbar {
    min-height: 5vh;
    align-items: center;
    justify-content: space-between; }
    header .navbar__menu {
      align-items: center; }
      header .navbar__menu .menu__item {
        margin: 0 0.5rem; }
        header .navbar__menu .menu__item #hamburger__icon {
          display: none; }
        header .navbar__menu .menu__item:hover .sub-menu {
          display: block;
          z-index: 5; }
        header .navbar__menu .menu__item .menu__link {
          font-size: 2.4em;
          font-weight: 300;
          padding: 0.5rem 1.5rem;
          background-color: #F2D335;
          border: 0.05em solid #000;
          border-radius: 1rem; }
          header .navbar__menu .menu__item .menu__link img {
            height: 3.2rem;
            width: 3.2rem;
            margin-right: 1rem; }
          header .navbar__menu .menu__item .menu__link:hover {
            background-color: #F2F0D0;
            font-weight: 400;
            border-color: #F2A516;
            border-radius: 2rem;
            transition: border-radius .3s ease-in-out, background-color .3s ease-in-out; }
    header .navbar .sub-menu {
      display: none;
      position: absolute;
      right: 2vw;
      background: #F2F0D0;
      box-shadow: -10px 8px 15px rgba(0, 0, 0, 0.2), 10px 8px 15px rgba(0, 0, 0, 0.2);
      padding: 0;
      margin: 0; }
      header .navbar .sub-menu__link {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        text-align: center;
        font-size: 1.8em;
        padding: 1rem 2rem; }
        header .navbar .sub-menu__link:hover {
          background-color: #F2A516;
          transition: background-color .2s ease-in-out; }
    header .navbar #active a {
      background-color: #F2F0D0;
      border: #F2A516 0.2rem solid; }
    header .navbar #cart {
      display: flex;
      align-items: center;
      padding: 1rem 3rem; }

@media screen and (min-width: 1024px) {
  header .navbar {
    max-width: 1200px; } }

@media screen and (max-width: 1023px) {
  header .navbar {
    max-width: 768px; }
    header .navbar .navbar__menu .menu__item .menu__link {
      font-size: 1.6em;
      padding: 0.2rem 0.7rem; }
    header .navbar .navbar__menu .menu__item #cart {
      padding: 0.5rem 1rem; } }

@media screen and (max-width: 768px) {
  header .navbar__menu .menu__item .menu__link, header .navbar__menu .menu__item #cart {
    display: none; }
  header .navbar__menu .menu__item #hamburger__icon {
    display: block;
    margin: 0 1rem;
    background: none;
    border: none; }
    header .navbar__menu .menu__item #hamburger__icon:hover .sub-menu {
      display: block;
      position: absolute; } }

body main .about {
  align-items: center; }
  body main .about h1 {
    font-family: "Roboto", sans-serif;
    font-size: 8vw;
    font-weight: 100;
    margin-top: 7vh; }
  body main .about p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    margin: 3vh 15vw; }

body .site__img {
  display: flex;
  flex-direction: column;
  align-items: center; }
  body .site__img img {
    margin: 10vh auto;
    border: #F2A516 0.2rem solid;
    border-radius: 4rem; }

@media screen and (max-width: 1023px) {
  body main .about h1 {
    font-size: 8.5vw; }
  body main .about p {
    font-size: 2vw; } }

@media screen and (max-width: 768px) {
  body main .about h1 {
    font-size: 9vw; }
  body main .about p {
    font-size: 2.4vw; } }

@media screen and (max-width: 600px) {
  body main .about h1 {
    font-size: 10vw; }
  body main .about p {
    font-size: 3vw; } }

@media screen and (max-width: 480px) {
  body main .about h1 {
    font-size: 16vw; }
  body main .about p {
    font-size: 4vw; } }

body .contact-us__title {
  grid-column: 1 / 5;
  grid-row: 2 / 3; }
  body .contact-us__title h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 7vw;
    margin: 7vh auto 3vh 5vw; }

body .contact-us__main {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  margin: 5vh 7vw; }
  body .contact-us__main .contact__form input, body .contact-us__main .contact__form label {
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    margin-bottom: 0.8vh; }
  body .contact-us__main .contact__form input, body .contact-us__main .contact__form textarea {
    background-color: #F2F0D0;
    border-radius: 1rem;
    border: #F2A516 0.2rem solid;
    width: 40vw;
    margin-bottom: 4vh;
    min-height: 4vh; }
  body .contact-us__main .contact__form button {
    font-family: "Roboto", sans-serif;
    font-size: 2.4em;
    letter-spacing: -0.03em;
    border: #F2D335 0.2rem solid;
    border-radius: 3rem;
    min-height: 5vh;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #F2F0D0 50%, #F2A516 50%);
    transition: background-position .4s;
    margin: 0 0 8vh 2vw;
    padding: 0 1.4vw;
    width: fit-content; }
    body .contact-us__main .contact__form button:hover {
      background-position: -100% 0;
      color: #000000; }

@media screen and (max-width: 1023px) {
  body .contact-us__main .contact__form input, body .contact-us__main .contact__form label {
    font-size: 1.8vw; }
  body .contact-us__main .contact__form textarea {
    margin-bottom: 4vh; } }

@media screen and (max-width: 768px) {
  body .contact-us__title h1 {
    margin-bottom: 0; }
  body .contact-us__main {
    grid-column: 1 / 5;
    grid-row: 3 / 5;
    margin-top: 0; }
    body .contact-us__main .contact__form input, body .contact-us__main .contact__form textarea {
      width: 60vw;
      transition: width .2s;
      margin-bottom: 2vh; }
    body .contact-us__main .contact__form button {
      font-size: 3vw;
      min-height: 5vh;
      margin: 0 0 8vh 2vw;
      width: 15vw;
      font-weight: 500; } }

@media screen and (max-width: 600px) {
  body .contact-us__title h1 {
    font-size: 8vw;
    font-weight: 300; }
  body .contact-us__main .contact__form input, body .contact-us__main .contact__form label {
    font-size: 3.6vw; }
  body .contact-us__main .contact__form input, body .contact-us__main .contact__form textarea {
    width: 86vw;
    margin-bottom: 2vh; }
  body .contact-us__main .contact__form button {
    font-size: 5vw;
    width: 30vw;
    font-weight: 400; } }

/* comienzo de propiedades para faq__link */
body .faq__link {
  grid-column: 3 / 5;
  grid-row: 3 / 5; }
  body .faq__link a {
    align-items: center;
    background-color: #F2A516;
    border: #F2D335 0.2rem solid;
    border-radius: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.9vw;
    padding: 2vh 1vw;
    width: fit-content; }
    body .faq__link a img {
      width: 3.2rem;
      height: 3.2rem;
      margin-right: 1rem; }
    body .faq__link a:hover {
      background-color: #F2F0D0;
      transition: background-color .2s ease-in-out; }

@media screen and (max-width: 768px) {
  body .faq__link {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto 0 15vw; }
    body .faq__link a {
      font-size: 3vw; }
  html:not(.no-js) [data-aos^="fade"][data-aos^="fade"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none; }
  [data-aos] {
    pointer-events: auto; } }

@media screen and (max-width: 600px) {
  body .faq__link {
    margin: 0 auto; }
    body .faq__link a {
      font-size: 4.5vw;
      width: 60vw; }
      body .faq__link a img {
        width: 2.4rem;
        height: 2.4rem;
        margin: 0 1.7vw 0 1.7vw; } }

body .faq {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-items: center; }
  body .faq__title h1 {
    font-family: "Roboto", sans-serif;
    font-size: 5.8vw;
    font-weight: 100;
    margin: 4rem 0;
    text-align: center; }
  body .faq__list {
    width: 50vw;
    height: 47vh;
    overflow-y: scroll;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    margin: 5vh 0 10vh 0; }
    body .faq__list ul {
      margin-left: 2.13vw; }
      body .faq__list ul li {
        list-style-image: url(../img/icon/dot.png);
        margin-bottom: 5rem; }
        body .faq__list ul li h2 {
          font-size: 2.4em;
          letter-spacing: -0.04em;
          font-family: "Roboto Mono", sans-serif;
          margin-bottom: 0.5rem; }
        body .faq__list ul li p {
          font-family: "Roboto", sans-serif;
          font-size: 1.8em;
          font-weight: 300;
          padding-left: 3rem;
          width: 90%; }

@media screen and (max-width: 1023px) {
  body .faq__title h1 {
    font-size: 5.4vw; }
  body .faq__list {
    width: 35vw; }
    body .faq__list ul {
      margin-left: 2.9vw; }
      body .faq__list ul li h2 {
        font-size: 2em; }
      body .faq__list ul li p {
        font-size: 1.6em;
        padding-left: 1rem;
        width: 95%; } }

@media screen and (max-width: 768px) {
  body .faq {
    grid-column: 1 / 5; }
    body .faq__title h1 {
      font-size: 10vw; }
    body .faq__list {
      width: 80vw; }
      body .faq__list ul {
        margin-left: 4vw; } }

@media screen and (max-width: 600px) {
  body .faq__list {
    width: 90vw; }
    body .faq__list ul {
      margin-left: 5vw; } }

@media screen and (max-width: 480px) {
  body .faq__list ul {
    margin-left: 8vw; }
    body .faq__list ul li p {
      padding-left: 1rem;
      width: 95%; } }

body .support__link {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  display: inherit;
  justify-content: end; }
  body .support__link h2 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 3em;
    letter-spacing: -0.04em;
    margin-bottom: 2rem; }

body .support__button button {
  background-color: #F2F0D0;
  border: #F2A516 0.2rem solid;
  border-radius: 2rem; }
  body .support__button button img {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem; }
  body .support__button button:hover {
    background-color: #F2D335;
    transition: background-color .4s ease-in-out; }

body .support__button--content {
  align-items: center;
  padding: 2rem 2.5rem;
  font-family: "Roboto", sans-serif;
  text-align: left; }
  body .support__button--content h3, body .support__button--content p {
    margin: auto 0; }
  body .support__button--content h3 {
    font-size: 2em;
    letter-spacing: -0.04em;
    font-weight: 300; }
  body .support__button--content p {
    font-size: 1.2em;
    letter-spacing: -0.03em;
    font-weight: 100; }

@media screen and (max-width: 1023px) {
  body .support__link h2 {
    font-size: 2.7vw; }
  body .support__button button img {
    width: 4rem;
    height: 4rem;
    margin-right: 1.4rem; }
  body .support__button--content {
    padding: 1vh 2vw; }
    body .support__button--content h3 {
      font-size: 2.5vw; }
    body .support__button--content p {
      font-size: 1.4vw; } }

@media screen and (max-width: 768px) {
  body .support__link {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    justify-content: center;
    margin-bottom: 5vh; }
    body .support__link h2 {
      font-size: 4vw; }
  body .support__button button img {
    width: 7vw;
    height: 7vw;
    margin-right: 2rem; }
  body .support__button--content {
    padding: 1.6vh 3vw; }
    body .support__button--content h3 {
      font-size: 3.5vw; }
    body .support__button--content p {
      font-size: 2vw; } }

@media screen and (max-width: 480px) {
  body .support__button--content h3 {
    font-size: 3.6vw; }
  body .support__button--content p {
    font-size: 2.4vw; } }

body .product__main {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 10vh; }
  body .product__main .product__video video {
    border-radius: 4rem;
    width: 100%;
    margin: 0 3vw; }
  body .product__main .product__info {
    font-family: "Roboto", sans-serif;
    text-align: center;
    justify-self: center;
    align-items: center;
    margin: 0 3vw; }
    body .product__main .product__info h1 {
      font-size: 7em;
      font-weight: 100;
      line-height: 1em;
      margin-bottom: 2rem; }
    body .product__main .product__info p {
      font-weight: 300;
      font-size: 2.2em;
      width: 35vw;
      margin-bottom: 3rem;
      background-color: rgba(0, 0, 0, 0.07);
      box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.07); }
    body .product__main .product__info button {
      width: 24rem;
      height: 5rem;
      background: #F2A516;
      border-radius: 3rem;
      border: #F2F0D0 0.2rem solid;
      font-size: 2.4em;
      letter-spacing: -0.03em; }
      body .product__main .product__info button:hover {
        background-color: #F2F0D0;
        color: #000;
        border-color: #F2A516;
        transition: background-color .3s ease-in-out, border-color .3s ease-in-out; }
        body .product__main .product__info button:hover a {
          color: #000; }
      body .product__main .product__info button a {
        color: #FFFFFF;
        padding: 1rem 2rem; }

@media screen and (max-width: 1023px) {
  body .product__info h1 {
    font-size: 5em; }
  body .product__info p {
    font-size: 1.8em;
    width: 30vw; }
  body .product__info button {
    width: 18rem;
    height: 4rem;
    font-size: 1.8em; } }

@media screen and (max-width: 768px) {
  body .product__main {
    flex-direction: column; }
    body .product__main .product__video {
      width: 90%;
      margin-bottom: 5vh; }
      body .product__main .product__video video {
        margin: 0; }
    body .product__main .product__info h1 {
      font-size: 6em; }
    body .product__main .product__info p {
      font-size: 2em;
      width: 70vw; }
    body .product__main .product__info button {
      width: 24rem;
      height: 5rem;
      font-size: 2.4em; } }

@media screen and (max-width: 480px) {
  body .product__info h1 {
    font-size: 5em; }
  body .product__info button {
    width: 18rem;
    height: 4rem;
    font-size: 1.8em; } }

body .product__description {
  margin: 14vh 4vw;
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  justify-content: space-evenly;
  align-items: center; }
  body .product__description .product__customization h2 {
    font-size: 4.6em;
    font-weight: 500;
    line-height: 4rem;
    width: 400px; }
  body .product__description .product__customization h3 {
    font-size: 3em;
    font-weight: 500;
    color: #F2A516; }
  body .product__description .product__discover {
    font-size: 3.2em;
    width: 35vw; }
    body .product__description .product__discover a {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      background-size: 200% 100%;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #F2A516 50%);
      transition: background-position .4s;
      width: 470px; }
      body .product__description .product__discover a:hover {
        background-position: -100% 0; }

@media screen and (max-width: 1080px) {
  body .product__description {
    margin: 15vh 3vw;
    justify-content: space-around; }
    body .product__description .product__customization h2 {
      font-size: 2.8em;
      width: 32vw; }
    body .product__description .product__customization h3 {
      font-size: 2em; }
    body .product__description .product__discover {
      font-size: 2.4em; }
      body .product__description .product__discover a {
        width: 335px;
        margin-top: 1rem; }
      body .product__description .product__discover img {
        width: 15%; } }

@media screen and (max-width: 768px) {
  body .product__description {
    margin: 15vh 3vw; }
    body .product__description .product__customization h2 {
      margin-top: 1rem;
      font-size: 2.5em;
      line-height: 2.6rem;
      width: 21rem; }
    body .product__description .product__customization h3 {
      font-size: 1.8em; }
    body .product__description .product__discover {
      font-size: 1.8em;
      width: 26rem; }
      body .product__description .product__discover a {
        width: 250px;
        padding: 0.5rem 0; } }

@media screen and (max-width: 600px) {
  body .product__description {
    margin-right: 0; }
    body .product__description h3 {
      font-size: 1.4em; }
    body .product__description h2 {
      margin-top: 0.5rem;
      font-size: 2em; }
    body .product__description .product__discover {
      font-size: 1.6em;
      width: 210px; }
      body .product__description .product__discover a {
        font-size: 0.9em;
        width: 210px; } }

@media screen and (max-width: 480px) {
  body .product__description {
    display: none; }
    body .product__description .product__main {
      margin-bottom: 15vh; } }

body .product__features {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
  margin: 3vh auto;
  margin-bottom: 17vh; }
  body .product__features .product__feature {
    background-color: rgba(0, 0, 0, 0.03); }
    body .product__features .product__feature p {
      font-size: 2vw;
      font-weight: 500;
      margin-bottom: 2rem;
      margin-left: 0.5rem; }

@media screen and (min-width: 1400px) {
  body .product__features p {
    font-size: 1.6vw; } }

@media screen and (max-width: 1023px) {
  body .product__features {
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    margin: 6vh auto; } }

@media screen and (max-width: 768px) {
  body .product__features p {
    font-size: 3vw; } }

@media screen and (max-width: 480px) {
  body .product__features {
    grid-template-columns: 1fr;
    margin-top: 0; }
    body .product__features p {
      font-size: 5vw; } }

body .store__main {
  grid-column: 1 / 5;
  align-items: center;
  align-content: center;
  margin: 7vh auto; }
  body .store__main h1 {
    font-family: "Roboto", sans-serif;
    font-size: 7vw;
    font-weight: 100;
    margin-bottom: 3vh; }
    body .store__main h1 strong {
      font-weight: 300; }
  body .store__main video {
    border: #F2A516 0.2rem solid;
    border-radius: 3rem;
    width: fit-content; }

body .store__products {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
  margin: 3vh auto;
  margin-bottom: 17vh; }
  body .store__products .product {
    width: 16.24vw; }
    body .store__products .product p {
      font-family: "Roboto", sans-serif;
      font-size: 0.9vw;
      margin-bottom: 2rem; }
    body .store__products .product picture img {
      width: 16.24vw; }
    body .store__products .product button {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 1.5vw;
      width: 11vw;
      height: 2.4vw;
      background-color: #F2F0D0;
      border: #F2A516 0.2rem solid;
      border-radius: 3rem;
      justify-content: space-evenly;
      align-items: center;
      margin-left: 0.5vw;
      margin-top: 1vh; }
      body .store__products .product button img {
        width: 1.3vw;
        height: 1.3vw; }
      body .store__products .product button:hover {
        background-color: #F2A516;
        border: #F2D335 0.2rem solid;
        transition: background-color .3s ease-in-out, border .3s ease-in-out; }
    body .store__products .product__title {
      font-family: "Roboto", sans-serif;
      font-size: 1.4vw;
      font-weight: 500;
      margin-bottom: 0.5vh; }

@media screen and (max-width: 1023px) {
  body .store__main h1 {
    font-size: 9vw; }
  body .store__products {
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    margin: 6vh auto; }
    body .store__products .product {
      width: 34vw; }
      body .store__products .product p {
        font-size: 1.8vw; }
      body .store__products .product__title {
        font-size: 3vw; }
      body .store__products .product picture img {
        width: 34vw; }
      body .store__products .product button {
        width: 15vw;
        height: 3.3vh;
        font-size: 2.2vw; }
        body .store__products .product button img {
          width: 2vw;
          height: 2vw; } }

@media screen and (max-width: 768px) {
  body .store__video video {
    width: 80vw; } }

@media screen and (max-width: 600px) {
  body .store__main h1 {
    font-size: 9vw; }
  body .store__products {
    grid-template-columns: 1fr;
    margin: 6vh auto; }
    body .store__products .product {
      width: 68vw; }
      body .store__products .product picture img {
        width: 68vw; }
      body .store__products .product p {
        font-size: 3.5vw; }
      body .store__products .product__title {
        font-size: 6vw; }
      body .store__products .product button {
        width: 25vw;
        height: 3.4vh;
        font-size: 3.5vw; }
        body .store__products .product button img {
          width: 20px;
          height: 20px; } }
