// Comienzo de propiedades para about.html
// about

body {
    main .about {
        align-items: center;

        h1 {
            font-family: $font-primary;
            font-size: 8vw;
            font-weight: $thin;
            margin-top: 7vh;
        }

        p {
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.5vw;
            margin: 3vh 15vw;
        }
    }

    .site__img {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            margin: 10vh auto;
            border: $secondary 0.2rem solid;
            border-radius: 4rem;
        }
    }
}

@media screen and (max-width: 1023px) {
    body {
        main .about {
            h1 {
                font-size: 8.5vw;
            }

            p {
                font-size: 2vw;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        main .about {
            h1 {
                font-size: 9vw;
            }

            p {
                font-size: 2.4vw;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    body {
        main .about {
            h1 {
                font-size: 10vw;
            }

            p {
                font-size: 3vw;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    body {
        main .about {
            h1 {
                font-size: 16vw;
            }

            p {
                font-size: 4vw;
            }
        }
    }
}
